.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

body{
  background-color: rgb(255, 0, 0);
}

#arrowimg{
  position: absolute;
  width: 120px;
  bottom: 280px;
  
}

#okgif{
  position: absolute;
  width: 130px;
  bottom: 190px;
}

#devious{
  width: 150px;
  position:absolute;
  top: 200px;
}

.valuess{
  color: rgb(217, 255, 0);
  position: relative;
  z-index: 9999;
}

.googol{
  position: absolute;
  top: 350px;
  
}

#mew{
  position: absolute;
  width: 100px;
  top:80px;
  right: 100px;
}